* {
    /*border: red solid 1px;*/
    margin: 0;
    padding: 20;
    font-family: "Roboto";
  }
  
.header{
    background-color: #03A9F4;
    height: 139px;
    color: #FFFFFF;
  }

  .menu{
    height: 32px;
    color: #FFFFFF;
    background-color: #0288D1;
    text-align: right;
    font-size: 16px;
    font-family: 'Roboto Light', arial;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 10px;
    opacity: .9;
  }

  .links:hover{
    color: #80DEEA;
  }

  .myName{
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
  }

  .overview{
    height: 70px;
    font-style: italic;
    background-color: #80DEEA;
    padding-top: 20px;
    text-align: center;
  }

  .overviewInfo{
    padding: 32px;
    font-family: 'Roboto Light', arial;
    color: #5f6368;
  }

  :link{
    font-family: 'Roboto Light', arial;
    text-decoration: none;
  }

  A:visited{
    color: #FFFFFF;
  }