* {
    /*border: red solid 1px;*/
    margin: 0;
    padding: 20;
    font-family: "Roboto";
  }

  .app{
    width: 80%;
    margin: 0 auto;
}
  
.header{
    background-color: #1D76BC;
    height: 139px;
    color: #FFFFFF;
  }

  #logo{
    height: 32px;
    text-align: left;
  }

  #logo1{
    width: fit-content;
  }

  .menu{
    display: flex;
    vertical-align: middle;
    height: 32px;
    color: #FFFFFF;
    background-color: black;
    font-size: 16px;
    font-family: 'Roboto Light', arial;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 10px;
    opacity: .9;
  }

  #menuOptions{
    text-align:end;
    padding-top: 8px;
  }

  .links:hover{
    color: #25ABE2;
  }

  .myName{
    padding-left: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
  }

  .overview{
    height: 70px;
    font-style: italic;
    
    text-align: center;
    color: #5f6368;
    padding-top: 32px;
  }

  .overviewInfo{
    padding: 32px;
    font-family: 'Roboto Light', arial;
    color: #5f6368;
  }

  :link{
    font-family: 'Roboto Light', arial;
    text-decoration: none;
    color:#FFFFFF;
  }

  A:visited{
    color: #25ABE2;
  }

  #footer{
    background-color: #1D76BC;
    color: #FFFFFF;
    text-align: center;
    padding: 8px;
  }